@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --text: #1a2306;
    --background: #f8fcee;
    --primary: #b3df3a;
    --secondary: ##495e0f;
    --accent: #59e38c;
  }
  .dark {
    --text: #f0f9dc;
    --background: #0d1103;
    --primary: #99c520;
    --secondary: #147624;
    --accent: #1ca64f;
  }
}